<nav class='navbar-left'>
	<h3>Les classes prépas</h3>

	<ul rubrique='156'>
		<li>
			<a href='hugo.php?rubrique=372'>Inscriptions</a>
			<ul rubrique='372'>
				<li>
					<a href='hugo.php?article=12492'>MPSI</a>
				</li>
				<li>
					<a href='hugo.php?article=12491'>PCSI</a>
				</li>
				<li>
					<a href='hugo.php?article=12490'>BCPST</a>
				</li>
			</ul>
		</li>
		<li>
			<a href='hugo.php?rubrique=293'>Une formation efficace et ouverte</a>
			<ul rubrique='293'>
				<li>
					<a href='hugo.php?article=5840'>Les Grandes Ecoles Scientifiques</a>
				</li>
				<li>
					<a href='hugo.php?article=5839'>Faire sa prépa au LVH-Besançon</a>
				</li>
				<li>
					<a href='hugo.php?article=5838'>Pourquoi faire une prépa?</a>
				</li>
			</ul>
		</li>
		<li>
			<a href='hugo.php?rubrique=159'>Les filières</a>
			<ul rubrique='159' class='on'>
				<li>
					<a href='hugo.php?rubrique=300'>BCPST</a>
					<ul rubrique='300'>
						<li>
							<a href='hugo.php?rubrique=362'>FAQ BCPST</a>
							<ul rubrique='362'>
								<li>
									<a href='hugo.php?article=19341'>BCPST et choix des spécialités de terminale</a>
								</li>
								<li>
									<a href='hugo.php?article=10410'>Le choix du lycée de prépa</a>
								</li>
								<li>
									<a href='hugo.php?article=10408'>Les langues en BCPST (message n°2)</a>
								</li>
								<li>
									<a href='hugo.php?article=9718'>Hébergement au lycée Victor Hugo</a>
								</li>
								<li>
									<a href='hugo.php?article=9717'>La demande d'internat : modalités pratiques</a>
								</li>
								<li>
									<a href='hugo.php?article=9716'>Les langues en BCPST (message n°1)</a>
								</li>
								<li>
									<a href='hugo.php?article=9624'>BCPST et recherche médicale</a>
								</li>
								<li>
									<a href='hugo.php?article=9588'>Les modalités pratiques d'admission en prépa</a>
								</li>
								<li>
									<a href='hugo.php?article=9587'>Le niveau d'exigences pour la BCPST</a>
								</li>
								<li>
									<a href='hugo.php?article=12104'>Les résultats à véto</a>
								</li>
								<li>
									<a href='hugo.php?article=11049'>Candidature en BCPT depuis le post-bac</a>
								</li>
								<li>
									<a href='hugo.php?article=9589'>BCPST et STL (technologique)</a>
								</li>
							</ul>
						</li>
						<li>
							<a href='hugo.php?rubrique=332'>Parcours d'anciens étudiants</a>
							<ul rubrique='332'>
								<li>
									<a href='hugo.php?rubrique=333'>Métiers</a>
									<ul rubrique='333'>
										<li>
											<a href='hugo.php?article=7321'>Ingénieure en génie biologique (exemple
												1)</a>
										</li>
										<li>
											<a href='hugo.php?article=7318'>Ingénieure agronome fonctionnaire
												(exemple 1)</a>
										</li>
										<li>
											<a href='hugo.php?article=7317'>Ingénieure en génie biologique (exemple
												2)</a>
										</li>
										<li>
											<a href='hugo.php?article=18929'>Chercheur en agronomie tropicale</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href='hugo.php?rubrique=298'>MPSI</a>
					<ul rubrique='298'>
						<li>
							<a href='hugo.php?article=5857'>Description de la filière MPSI</a>
						</li>
						<li>
							<a href='hugo.php?article=5859'>Les orientations possibles (après une MPSI)</a>
						</li>
					</ul>
				</li>
				<li>
					<a href='hugo.php?rubrique=596'>MP2I</a>
					<ul rubrique='596'>
						<li>
							<a href='hugo.php?article=22178'>Description de la filière MP2I</a>
						</li>
						<li>
							<a href='hugo.php?article=22267'>Conseils aux Lycéens pour candidater en MP2I au Lycée
								Victor Hugo</a>
						</li>
					</ul>
				</li>
				<li>
					<a href='hugo.php?rubrique=299'>PCSI</a>
					<ul rubrique='299'>
						<li>
							<a href='hugo.php?article=5860'>Les orientations possibles (après une PCSI)</a>
						</li>
						<li>
							<a href='hugo.php?article=5861'>Description de la filière PCSI</a>
						</li>
					</ul>
				</li>
				<li>
					<a href='hugo.php?rubrique=301'>Les disciplines</a>
					<ul rubrique='301'>
						<li>
							<a href='hugo.php?article=6106'>TIPE</a>
						</li>
						<li>
							<a href='hugo.php?article=6105'>Tous les programmes</a>
						</li>
						<li>
							<a href='hugo.php?article=5873'>SVT</a>
						</li>
						<li>
							<a href='hugo.php?article=5867'>Langues vivantes</a>
						</li>
						<li>
							<a href='hugo.php?article=5876'>L'informatique en CPGE</a>
						</li>
						<li>
							<a href='hugo.php?article=5875'>Sciences de l'ingénieur</a>
						</li>
						<li>
							<a href='hugo.php?article=5874'>Physique</a>
						</li>
						<li>
							<a href='hugo.php?article=5869'>EPS</a>
						</li>
						<li>
							<a href='hugo.php?article=5865'>Français</a>
						</li>
						<li>
							<a href='hugo.php?article=5864'>Chimie</a>
						</li>
						<li>
							<a href='hugo.php?article=5863'>Mathématiques</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href='hugo.php?rubrique=160'>Les résultats du LVH</a>
			<ul rubrique='160'>
				<li>
					<a href='hugo.php?article=134'>Intégrations</a>
				</li>
			</ul>
		</li>
		<li>
			<a href='hugo.php?rubrique=297'>Quelques aspects pratiques</a>
			<ul rubrique='297'>
				<li>
					<a href='hugo.php?article=5854'>Quelques liens utiles</a>
				</li>
				<li>
					<a href='hugo.php?article=5843'>Comment s'inscrire</a>
				</li>
				<li>
					<a href='hugo.php?article=5844'>Se loger</a>
				</li>
			</ul>
		</li>
		<li>
			<a href='hugo.php?rubrique=184'>Forum des Grandes Ecoles</a>
			<ul rubrique='184'>
				<li>
					<a href='hugo.php?article=6104'>Qu'est-ce que c'est ?</a>
				</li>
			</ul>
		</li>
	</ul>
	<a href='#'><img src="{{ asset('img/logoLVHpetit.png') }}" /></a>
</nav>