<nav class='navbar-right'>
	<h3>{{ title }}</h3>
	<ul>
		{% for category in categories %}
		<li><a href="#">{{ category.title }}</a></li>
		{% endfor %}
	</ul>
</nav>

{# <nav class='navbar-right'>
	<h3>{{ sidebarHome.title }}</h3>
	<ul>
		{% for item in sidebarHome.items %}
		<li><a href="#">{{ item.title }}</a></li>
		{% endfor %}
	</ul>
</nav> #}

{# <nav class='navbar-right'>
	<h3>Sites des classes</h3>
	<ul>
		<li><a href='hugo.php?rubrique=165'>Infos générales</a></li>
		<li><a href='hugo.php?rubrique=2'>MPSI</a></li>
		<li><a href='hugo.php?rubrique=3'>MP2I</a></li>
		<li><a href='hugo.php?rubrique=4'>PCSI 1</a></li>
		<li><a href='hugo.php?rubrique=5'>PCSI 2</a></li>
		<li><a href='hugo.php?rubrique=6'>BCPST 1</a></li>
		<li><a href='hugo.php?rubrique=7'>MP</a></li>
		<li><a href='hugo.php?rubrique=8'>MP*</a></li>
		<li><a href='hugo.php?rubrique=9'>PC</a></li>
		<li><a href='hugo.php?rubrique=10'>PC*</a></li>
		<li><a href='hugo.php?rubrique=11'>PSI</a></li>
		<li><a href='hugo.php?rubrique=12'>BCPST 2</a></li>
		<li><a href='hugo.php?rubrique=272'>IphO</a></li>
		<li><a href='hugo.php?rubrique=311'>Documents profs</a></li>
		<li><a href='hugo.php?rubrique=321'>Labo de physique-chimie</a></li>
	</ul>
</nav> #}