<nav class='navbar'>
	<ul>
		<li>
			<a href="{{ path('home') }}" title='Site des classes préparatoires du lycée Victor Hugo'><b>Accueil</b></a>
		</li>
		<li>
			<a href='http://lyceehugobesancon.org'>Lycée VH</a>
		</li>
		<li>
			<a href="{{ path('question') }}">Votre question</a>
		</li>
		<li>
			<a href="{{ path('forum') }}">Forum GE</a>
		</li>
		<li>
			<a href="{{ path('hugocolle') }}">Hugocolle</a>
		</li>
	</ul>
</nav>