{% extends 'home/layout.html.twig' %}

{% block title %}Première page{% endblock %}

{% block body %}
<img src='img/logoLVH.png' />

<article>
	<h2 class="chapter">Approfondissement en sciences pour la Terminale</h2>

	Le lycée Victor Hugo organise des séances d'approfondissement pour les terminales en mathématiques et en
	physique le mercredi après midi.

	Toutes les infos <a
		href='http://lyceehugobesancon.org/LVH/la-vie-du-lycee/activites-pedagogiques/approfondissement-en-sciences-pour-la-terminale/'>ici</a>.
</article>
{% endblock %}