<!DOCTYPE html>
<html lang='fr'>

<head>
    <title> Hugoprépas : site des classes préparatoires du lycée Victor Hugo</title>
    <meta charset='utf-8' />
    <meta name='description' content='cpge,besançon;classes prepa,classes prepa; victor hugo' />
    <meta name='keywords' content='cpge, classes, prepas, besançon, lvh, hugo' />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='css/hugoprepas.css' />

    <link rel='icon' type='image/png' href='img/favicon.png' />
</head>

<body>
    <header>
        <div class="banner d-flex justify-content-between">
            <h1>Hugoprépas 4</h1>
            <div class="connexion">
                <p>Nicky Sonigo</p>
                <a href="#">Se déconnecter</a>
            </div>
        </div>

        <nav>
            <div class="navbar">
                <ul>
                    <li>
                        <a href='hugo.php'
                            title='Site des classes préparatoires du lycée Victor Hugo'><b>Accueil</b></a>
                    </li>
                    <li>
                        <a href='http://www.lyceehugobesancon.org'>Lyc&eacute;e VH</a>
                    </li>
                    <li>
                        <a href='?page=question'>Votre question</a>
                    </li>
                    <li>
                        <a href='http://lyceehugobesancon.org/prepaslvh/forumGE/'>Forum GE</a>
                    </li>
                    <li>
                        <a href='?page=hugocolle'>Hugocolle</a>
                    </li>
                    <li>
                        <a href='?module=base&voir=accueil'>Espace privé</a>
                    </li>
                </ul>
            </div>

            <div class='navbar-left'>
                <h3>Les classes prépas</h3>

                <ul rubrique='156'>
                    <li>
                        <a href='hugo.php?rubrique=372'>Inscriptions</a>
                        <ul rubrique='372'>
                            <li>
                                <a href='hugo.php?article=12492'>MPSI</a>
                            </li>
                            <li>
                                <a href='hugo.php?article=12491'>PCSI</a>
                            </li>
                            <li>
                                <a href='hugo.php?article=12490'>BCPST</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='hugo.php?rubrique=293'>Une formation efficace et ouverte</a>
                        <ul rubrique='293'>
                            <li>
                                <a href='hugo.php?article=5840'>Les Grandes Ecoles Scientifiques</a>
                            </li>
                            <li>
                                <a href='hugo.php?article=5839'>Faire sa prépa au LVH-Besançon</a>
                            </li>
                            <li>
                                <a href='hugo.php?article=5838'>Pourquoi faire une prépa?</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='hugo.php?rubrique=159'>Les filières</a>
                        <ul rubrique='159' class='on'>
                            <li>
                                <a href='hugo.php?rubrique=300'>BCPST</a>
                                <ul rubrique='300'>
                                    <li>
                                        <a href='hugo.php?rubrique=362'>FAQ BCPST</a>
                                        <ul rubrique='362'>
                                            <li>
                                                <a href='hugo.php?article=19341'>BCPST et choix des spécialités de
                                                    terminale</a>
                                            </li>
                                            <li>
                                                <a href='hugo.php?article=10410'>Le choix du lycée de prépa</a>
                                            </li>
                                            <li>
                                                <a href='hugo.php?article=10408'>Les langues en BCPST (message n°2)</a>
                                            </li>
                                            <li>
                                                <a href='hugo.php?article=9718'>Hébergement au lycée Victor Hugo</a>
                                            </li>
                                            <li>
                                                <a href='hugo.php?article=9717'>La demande d'internat : modalités
                                                    pratiques</a>
                                            </li>
                                            <li>
                                                <a href='hugo.php?article=9716'>Les langues en BCPST (message n°1)</a>
                                            </li>
                                            <li>
                                                <a href='hugo.php?article=9624'>BCPST et recherche médicale</a>
                                            </li>
                                            <li>
                                                <a href='hugo.php?article=9588'>Les modalités pratiques d'admission en
                                                    prépa</a>
                                            </li>
                                            <li>
                                                <a href='hugo.php?article=9587'>Le niveau d'exigences pour la BCPST</a>
                                            </li>
                                            <li>
                                                <a href='hugo.php?article=12104'>Les résultats à véto</a>
                                            </li>
                                            <li>
                                                <a href='hugo.php?article=11049'>Candidature en BCPT depuis le
                                                    post-bac</a>
                                            </li>
                                            <li>
                                                <a href='hugo.php?article=9589'>BCPST et STL (technologique)</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href='hugo.php?rubrique=332'>Parcours d'anciens étudiants</a>
                                        <ul rubrique='332'>
                                            <li>
                                                <a href='hugo.php?rubrique=333'>Métiers</a>
                                                <ul rubrique='333'>
                                                    <li>
                                                        <a href='hugo.php?article=7321'>Ingénieure en génie biologique
                                                            (exemple
                                                            1)</a>
                                                    </li>
                                                    <li>
                                                        <a href='hugo.php?article=7318'>Ingénieure agronome
                                                            fonctionnaire
                                                            (exemple 1)</a>
                                                    </li>
                                                    <li>
                                                        <a href='hugo.php?article=7317'>Ingénieure en génie biologique
                                                            (exemple
                                                            2)</a>
                                                    </li>
                                                    <li>
                                                        <a href='hugo.php?article=18929'>Chercheur en agronomie
                                                            tropicale</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href='hugo.php?rubrique=298'>MPSI</a>
                                <ul rubrique='298'>
                                    <li>
                                        <a href='hugo.php?article=5857'>Description de la filière MPSI</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=5859'>Les orientations possibles (après une MPSI)</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href='hugo.php?rubrique=596'>MP2I</a>
                                <ul rubrique='596'>
                                    <li>
                                        <a href='hugo.php?article=22178'>Description de la filière MP2I</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=22267'>Conseils aux Lycéens pour candidater en MP2I au
                                            Lycée
                                            Victor Hugo</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href='hugo.php?rubrique=299'>PCSI</a>
                                <ul rubrique='299'>
                                    <li>
                                        <a href='hugo.php?article=5860'>Les orientations possibles (après une PCSI)</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=5861'>Description de la filière PCSI</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href='hugo.php?rubrique=301'>Les disciplines</a>
                                <ul rubrique='301'>
                                    <li>
                                        <a href='hugo.php?article=6106'>TIPE</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=6105'>Tous les programmes</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=5873'>SVT</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=5867'>Langues vivantes</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=5876'>L'informatique en CPGE</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=5875'>Sciences de l'ingénieur</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=5874'>Physique</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=5869'>EPS</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=5865'>Français</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=5864'>Chimie</a>
                                    </li>
                                    <li>
                                        <a href='hugo.php?article=5863'>Mathématiques</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='hugo.php?rubrique=160'>Les résultats du LVH</a>
                        <ul rubrique='160'>
                            <li>
                                <a href='hugo.php?article=134'>Intégrations</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='hugo.php?rubrique=297'>Quelques aspects pratiques</a>
                        <ul rubrique='297'>
                            <li>
                                <a href='hugo.php?article=5854'>Quelques liens utiles</a>
                            </li>
                            <li>
                                <a href='hugo.php?article=5843'>Comment s'inscrire</a>
                            </li>
                            <li>
                                <a href='hugo.php?article=5844'>Se loger</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='hugo.php?rubrique=184'>Forum des Grandes Ecoles</a>
                        <ul rubrique='184'>
                            <li>
                                <a href='hugo.php?article=6104'>Qu'est-ce que c'est ?</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href='hugo.php'><img src='img/logoLVHpetit.png' /></a>
            </div>

            <div class='navbar-right'>
                <h3>Sites des classes</h3>
                <ul>
                    <li><a href='hugo.php?rubrique=165'>Infos générales</a></li>
                    <li><a href='hugo.php?rubrique=2'>MPSI</a></li>
                    <li><a href='hugo.php?rubrique=3'>MP2I</a></li>
                    <li><a href='hugo.php?rubrique=4'>PCSI 1</a></li>
                    <li><a href='hugo.php?rubrique=5'>PCSI 2</a></li>
                    <li><a href='hugo.php?rubrique=6'>BCPST 1</a></li>
                    <li><a href='hugo.php?rubrique=7'>MP</a></li>
                    <li><a href='hugo.php?rubrique=8'>MP*</a></li>
                    <li><a href='hugo.php?rubrique=9'>PC</a></li>
                    <li><a href='hugo.php?rubrique=10'>PC*</a></li>
                    <li><a href='hugo.php?rubrique=11'>PSI</a></li>
                    <li><a href='hugo.php?rubrique=12'>BCPST 2</a></li>
                    <li><a href='hugo.php?rubrique=272'>IphO</a></li>
                    <li><a href='hugo.php?rubrique=311'>Documents profs</a></li>
                    <li><a href='hugo.php?rubrique=321'>Labo de physique-chimie</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="container-fluid">
        <img src='img/logoLVH.png' />

        <article>
            <h2 class="chapter">Approfondissement en sciences pour la Terminale</h2>

            Le lycée Victor Hugo organise des séances d'approfondissement pour les terminales en mathématiques et en
            physique le mercredi après midi.

            Toutes les infos <a
                href='http://lyceehugobesancon.org/LVH/la-vie-du-lycee/activites-pedagogiques/approfondissement-en-sciences-pour-la-terminale/'>ici</a>.
        </article>
    </section>

    <footer>
        <p class='mentions'>
            Lycée Victor Hugo | 1 rue Rembrandt 25000 Besançon | Tél : 03 81 41 98 88<br>
            <a href='http://lyceehugobesancon.org/LVH/mentions-legales/'><u>Mentions légales</u></a>
        </p>
    </footer>
</body>

</html>